@import './social.css';
footer {
	background-color: var(--primary-bg-color);
	color: var(--primary-font-color);
	line-height: 2;
	position: relative;
}

#contact {
	display: flex;
	justify-content: space-between;
	min-height: 200px;
}

#contact h2 {
	text-transform: uppercase;
	letter-spacing: 2px;
	font-size: var(--medium-size);
}

#contact p {
	font-size: var(--regular-size);
}

#contact > div {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.contact_details {
	width: 50%;
}
.opening_hours {
	width: 35%;
}

.inner_container {
	margin-top: 20px;
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
	font-size: var(--regular-size);
	font-style: normal;
}

.copyright_container {
	width: 100%;
	padding: 10px 0;
	align-items: center;
	justify-content: center;
	display: flex;
}

.copyright_container p {
	font-size: var(--regular-size);
	text-align: center;
}

@media all and (max-width: 700px) {
	#contact, .inner_container {
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
	.inner_container  {
		width: 100%;
	}
	#contact > div {
		width: 100%;
		margin: 20px auto 0;
		text-align: center;
	}
	
	.inner_container > div {
		padding-right: 30;
		padding-top: 10px;
	}
}

@media all and (max-width: 990px) {
	.copyright p {
		font-size: var(--regular-size);
	}
	
	.copyright {
		flex-flow: column nowrap;
		padding: 25px 0;
	}
	
	.copyright div {
		width: 80%;
		text-align: center;
	}
}