
header {
	background-color: var(--primary-bg-color);
	height: 75px;
}
nav {
	font-size: var(--regular-size);
}

nav a {
	margin: 0 10px;
	padding-bottom: 3px;
}

nav a:nth-of-type(5) {
	margin-right: 0;
}

nav a.active {
	border-bottom: 2px solid var(--color-mercury);
}

.header_container {
	text-transform: uppercase;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 30px 0;
	box-sizing: border-box;
	transition: all .1s ease-in-out;
	border-bottom: 4px solid linear-gradient(to bottom, var(--primary-bg-color), transparent); ;
	width: 100%;
	padding: 10px 40px;
	height: 75px;
}

/* Hamburger Menu (continued in the media queries section) */

.menu_icon {
	display: none;
	cursor: pointer;
}

.linear-gradient {
	width: 100%;
	height: 200px;
	background: linear-gradient(to bottom, var(--color-white), transparent);
}

#logo {
	color: var(--color-mercury);
	font-size: var(--regular-size-4x);
}


@media all and (max-width: 700px) {
	
	nav {
		display: none;
	}
	
	.menu_icon.show{
		display: block;
		z-index: 5;
	}
	
	#logo {
		z-index: 5;
	}
	
	.header_container.show_menu {
		width: 100%;
		height: 100vh;
		padding: 10px 40px;
		z-index: 5;
		transition: none;
		border-bottom: none;
		background-color: var(--color-opac-black);
		align-items: flex-start;
	}
	
	nav.show_menu { 
		position: absolute;
		height: 100vh;
		width: 100vw;
		display: flex;
		flex-flow: column nowrap;
		justify-content: center;
		align-items: center;
		margin: -10px 0 0 -40px;
		font-size: var(--regular-size-3x);		
	}
	
	nav.show_menu a {
		margin-bottom: 10px;
	}
	
	nav.show_menu a:nth-of-type(5) {
		margin-right: 10px;
	}

}

/* Safari and Chrome */
@-webkit-keyframes rotating  {
  from {
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes rotating {
  from {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
.rotating {
  -webkit-animation: rotating 30s linear infinite;
  -moz-animation: rotating 30s linear infinite;
  -ms-animation: rotating 30s linear infinite;
  -o-animation: rotating 30s linear infinite;
  animation: rotating 30s linear infinite;
}