.menu_container .img_container {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 1fr 1fr;
	grid-gap: 20px 20px;
}
.divider.main_menu  {
	background: var(--secondary-bg-color) url(../img/bread.jpg) no-repeat center center fixed;
	background-size: cover;
}
.divider.desserts_menu {
	background: var(--secondary-bg-color) url(../img/cookies.jpg) no-repeat center center fixed;
	background-size: cover;
}

.menu_container img {
	width: 100%;
	min-width: 50px;
}

#desserts .img_container {
	grid-template-rows: 1fr;
}

#desserts img {
	max-width: 320px;
}